<a href="https://colab.research.google.com/github/SaudAltamimi/Koalas_tutorial/blob/master/koalas_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## What is _Apache Spark_?




<img src=https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Apache_Spark_logo.svg/1200px-Apache_Spark_logo.svg.png width="200">

> **_Apache Spark_** is a unified computing engine and a set of libraries for parallel data processing on [computer clusters](https://en.wikipedia.org/wiki/Computer_cluster).

> Spark is the most actively developed open source engine for this task, making it a standard tool for any developer or data scientist interested in big data. 

> Spark supports multiple widely used programming languages (Python, Java, Scala, and R), includes libraries for diverse tasks ranging from SQL to streaming and machine learning, and runs anywhere from a laptop to a cluster of thousands of servers. 

> This makes it an easy system to start with and scale-up to **big data processing** or incredibly large scale.

`Chambers, Bill; Zaharia, Matei. Spark: The Definitive Guide: Big Data Processing Made Simple. O'Reilly Media.`

## What is [_Koalas_](https://koalas.readthedocs.io/en/latest/)?


<img src=https://raw.githubusercontent.com/databricks/koalas/master/icons/koalas-logo.png width="200">

**pandas API on Apache Spark**

The Koalas project makes data scientists & data engineers more productive when interacting with big data, by implementing the pandas DataFrame API on top of Apache Spark. **pandas** is the de facto standard (***single-node***) DataFrame implementation in Python, while **Spark** is the de facto standard for *big data processing*. With this package, you can:

> Be immediately productive with Spark, with no learning curve, if you are already familiar with pandas.

> Have a single codebase that works both with pandas (tests, smaller datasets) and with Spark (distributed datasets).

[Reducing Time-To-Insight for Virgin Hyperloop’s Data](https://koalas.readthedocs.io/en/latest/getting_started/videos_blogs.html#webinar-databricks-mar-27-2020)

<img src=https://databricks.com/wp-content/uploads/2019/08/koalas-image4.png width="700">

## Installations

> First We need to install Java

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [ ]:
!pip install pyspark
!pip install koalas

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/e9/e4/5c15ab8d354c4e3528510821865e6748209a9b0ff6a1788f4cd36cc2a5dc/pyspark-2.4.6.tar.gz (218.4MB)
     |████████████████████████████████| 218.4MB 60kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 38.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.6-py2.py3-none-any.whl size=218814406 sha256=670420fd8ad161ace72ba9c9979d8c3a2fdcb6ce4170894292d657967b1eb48e
  Stored in directory: /root/.cache/pip/wheels/1e/5e/6a/17e906c94ec7246f260330a66e44a06a0809033ba2738a74a8
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.6
Collecting koalas
  Downloading https://files.pythonhosted.org/packages/85/e3/e1a24f6e8d110ef03bf4023b75581a42583643b7f38a5245a086175b4053/koalas-0.33.0-py3-none-any.whl (964kB)
     |████████████████████████████████| 972kB 2.8MB/s
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.6/dist-packages (from koalas) (1.0.4)
Requirement already satisfied: pyarrow>=0.10 in /usr/local/lib/python3.6/dist-packages (from koalas) (0.14.1)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from koalas) (3.2.1)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from koalas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->koalas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->koalas) (2.8.1)
Requirement already satisfied: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow>=0.10->koalas) (1.12.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->koalas) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->koalas) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->koalas) (2.4.7)
Installing collected packages: koalas
Successfully installed koalas-0.33.0

In [ ]:
import pandas as pd 
import databricks.koalas as ks
%matplotlib inline

In [ ]:
# if we check the sparkcontex? 
# Main entry point for Spark functionality. 
# A SparkContext represents the connection to a Spark cluster.

from pyspark import SparkContext

sc = SparkContext.getOrCreate()
sc

## Objectives

You will learn:

* Data Analysis using _koalas_. 
* Create transformations. 
* Aggregations.
* Visualize results.
* Pipelines.

## Dataset: Stanford Open Policing Project

> https://openpolicing.stanford.edu/



*   **_stop_date_**: The date of the stop, in YYYY-MM-DD format.
*   **_stop_time_**: The 24-hour time of the stop, in HH:MM format.
*   **_county_name_**: County name where provided.
*   **_driver_gender_**: The recorded gender of the stopped driver.
*   **_driver_age_raw_**: The year of driver birthdate.
*   **_driver_age_**: The age of the stopped driver.
*   **_driver_race_**: 	The race of the stopped driver. Values are standardized to white, black, hispanic, asian/pacific islander, and other/unknown.
*   **_violation_raw_**: Specific violation of stop where provided. What is recorded here varies widely across police departments.
*   **_violation_**: Violations of stop where provided (standardized).
*   **_search_conducted_**: Indicates whether any type of search was conducted, i.e. driver, passenger, vehicle. 
*   **_search_type_**: The type of the search if it was conducted.

> This Exercise inspired by a brilliant talk that was given by the great explainer **Kevin Makham** [pandas best practices](https://www.youtube.com/watch?v=hl-TGI4550M&list=PL5-da3qGB5IBITZj_dYSFqnd_15JgqwA6&index=2&t=4s), I would really encourage you to watch his talk if you feel you are not comfortable enough with pandas library, and by using this notebook, you will learn both **Pandas** & **Koalas**.

In [ ]:
# read the file
path_to_file = 'police.csv'
pdf = pd.read_csv(path_to_file)
kdf = ks.read_csv(path_to_file)

In [ ]:
display(pdf.head(2))
display(kdf.head(2))

    stop_date stop_time  ...  stop_duration drugs_related_stop
0  2005-01-02     01:55  ...       0-15 Min              False
1  2005-01-18     08:15  ...       0-15 Min              False

[2 rows x 15 columns]

   stop_date stop_time county_name driver_gender  driver_age_raw  driver_age driver_race violation_raw violation  search_conducted search_type stop_outcome  is_arrested stop_duration  drugs_related_stop
0 2005-01-02     01:55        None             M          1985.0        20.0       White      Speeding  Speeding             False        None     Citation        False      0-15 Min               False
1 2005-01-18     08:15        None             M          1965.0        40.0       White      Speeding  Speeding             False        None     Citation        False      0-15 Min               False

In [ ]:
# Number of rows and columns?
print(pdf.shape)
print(kdf.shape)

(91741, 15)
(91741, 15)

In [ ]:
# dtypes?

In [ ]:
# adding columns?

In [ ]:
#nulls?

## Data Analysis

### 1. Remove the column that only contains missing values

### 2. Do men or women speed more often?

In [ ]:
# when someone is stopped for speeding, how often is it a man or woman?

In [ ]:
# when a man is pulled over, how often is it for speeding?

In [ ]:
# repeat for women

### 3. Does gender affect who gets searched during a stop?

In [ ]:
#ignore gender for the moment
#using pandas

In [ ]:
#using koalas
#for females

In [ ]:
# search rate by gender

### 5. During a search, how often is the driver frisked?

In [ ]:
# (hint: search_type column)
# there is a problem in this column !! ?

### 6. Which year had the least number of stops?

### 7. Do most stops occur at night?

### 9. Pretend you don't have the driver_age column, and create it from driver_age_raw (and call it new_age)

### 10. How does drug activity change by time of day?

In [ ]:
#(hint: group by hours)

## Bonus: pipelines

The ability to write data transformation pipelines that are easy to understand by others is a great skill to have. Orgnizing your transformation steps using the `pipe` method will help you learn this easily & intuitivly.

> Inspired by the amazing ***Vincent D. Warmerdam*** and his talk [Untitled12.ipynb](https://www.youtube.com/watch?v=yXGCKqo5cEY&t=685s)

> If you feel that you need to optimize one of the function by interacting  directly with `pyspark`, you can simply use (`spark_df = kdf.to_spark()`) and write your code in `pyspark`, then finally return the results as a Koalas dataframe (`return ks.DataFrame(spark_df)`).

> Type hints are crucial for Koalas performance, check [here](https://koalas.readthedocs.io/en/latest/user_guide/typehints.html#type-hints-in-koalas)

## Bonus: SQL API